*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

:root {
    --main-color:red;
    --text-color:black ;
    --bg-color:white ;
}
html::-webkit-scrollbar{
 width: 0.5rem;
 background: transparent;   
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);   
   }
section{
    padding: 4rem 0 3rem;
}
 
img{
    width: 100%;
}
body{
    color: var(--text-color);

}
.container{
    max-width:1068;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.6s;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;

}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;

}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);

}
.logo span{
    color: blueviolet;
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}
.navbar a:hover,
.navbar .active
{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}
#search{
  font-size: 24px;
  cursor: pointer;

}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);

}
.search-box.active{
    clip-path: circle(144% at 100% 0%);  
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}


.home{
  max-width: 1300px;  
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  background: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left; 
}
.home-text{
    padding-left: 130px;

}

.home-text h1{
    font-size: 2.4rem; 
}


.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn:hover{
    background: red;

}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}

.carsDetail{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.carsDetail .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.ccarsDetail .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.carsDetail .box img:hover{
   transform: scale(1.1);
   transition: 0.6s;
}
.carsDetail .box h2{
  position: absolute; 
  bottom: 1rem;
  left: 1rem; 
  font-weight: 400;
  font-size: 1rem;
  background: rgb(245, 243, 246);
  padding: 8px;
  border-radius: 0.5rem;
}
.carsDetail .box:hover h2{
    background: rgb(39, 12, 12);
    color: rgb(74, 33, 123);
}
.BikeDetail{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.BikeDetail .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.BikeDetail .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.BikeDetail .box img:hover{
   transform: scale(1.1);
   transition: 0.6s;
}
.BikeDetail .box h2{
  position: absolute; 
  bottom: 1rem;
  left: 1rem; 
  font-weight: 400;
  font-size: 1rem;
  background: rgb(245, 243, 246);
  padding: 8px;
  border-radius: 0.5rem;
}
.BikeDetail .box:hover h2{
    background: rgb(39, 12, 12);
    color: rgb(74, 33, 123);
}

.footer{
    background: var(--text-color);
    color: aliceblue;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
display: flex;
flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;

}
.social a:hover{
    color: blue;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a, 
.footer-box p{
    color: antiquewhite;
    margin-bottom: 10px;
}
.footer-box a:hover{
  color: blue;  
}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

@media(max-width: 1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media(max-width: 991px){
    .nav{
        padding: 15px 20px;

    }
    section{
        padding: 3rem 0 1rme;
    }
    .home-text{
        padding-left: 2rem;
    }
    .home-text h1{
        font-size: 2.1rem;
    }
}
@media(max-width: 920px){
    #search{
        color: var(--text-color);
    }
}
@media (max-width:768px){
    .search-box input{
        padding: 15px;
    }
    .nav{
      padding: 10px 0; 
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 /20%);
        clip-path:circle(0% at 0% 0% );
        transition: 0.6s;
    }
   .navbar a{
    display: block;
    padding: 15px;
   } 
   .navbar a:hover,
   .navbar.active{
    border-bottom: none;
    background: white;
    color: red;
   }
   .navbar.active{
    clip-path: circle(144% at 0% 0%);
 
}
@media (max-width:727px){
    .heading span{
        font-size: 0.9rem;
    }
    .heading h2{
      font-size: 1.4rem;  
    }

}
}

